footer.hero-foot(style='padding: 20px 10px 20px 10px;')
	.container
		.level
			.level-left
				a(href='https://github.com/fexra/trtl-node-tracker') Github
				
			.level-right
				| Crafted with
				span.icon.has-text-danger
					icon.icon-heart
				| by Fexra &nbsp; | &nbsp; TRTL Node Tracker &copy; 2018

script(src='/js/app.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='/js/jquery-jvectormap-2.0.3.min.js')
script(src='http://jvectormap.com/js/jquery-jvectormap-world-mill.js')

