nav.navbar.is-primary.is-fixed-top.is-boxed(role='navigation', aria-label='dropdown navigation')
    .container
        .navbar-brand
            a.navbar-item.is-size-4.has-text-weight-light.has-background-white.has-text-dark(href='/')
                div(style='background-image:url("/img/logo.png");background-repeat:no-repeat;background-position:left;padding: 0 0 0 58px;')
                    | TRTL Node Tracker
            span.navbar-burger.burger(data-target='navbarMenu')
                span
                span
                span
        #navbarMenu.navbar-menu
            .navbar-end
    
                a.navbar-item(href='/')
                    | Map
                
                a.navbar-item(href='/list')
                    | List
